@font-face {
    font-family: 'Tinos';
    src: url('./fonts/Tinos/Tinos-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gideon_Roman';
    src: url('./fonts/Gideon_Roman/GideonRoman-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.tituloReserva {
    font-family: "Tinos";
    -fx-text-fill: black; /* Define el color del texto */
    -fx-font-size: 44px;
    -fx-font-weight: 700;
    -fx-alignment: center; /* Centrar el texto */
}

.textoReserva {
    font-family: "Tinos";
    -fx-text-fill: black; /* Define el color del texto */
    -fx-font-size: 22px;
    -fx-font-weight: 400;
    -fx-alignment: left; /* Centrar el texto */
}
.label {
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

.titulo {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 10 20;
}

.text-field {
    -fx-padding: 5;
    -fx-border-color: lightgray;
}

.combo-box {
    -fx-border-color: lightgray;
    -fx-padding: 5;
}
